

+===========================================================================================================================================================================================+


DEPRECATED: this command (`check`) has been DEPRECATED, and will be unsupported beyond 01 June 2024.


We highly encourage switching to the new `scan` command which is easier to use, more powerful, and can be set up to mimic the deprecated command if required.


+===========================================================================================================================================================================================+


+==============================================================================+

                                   /$$$$$$            /$$
                                  /$$__  $$          | $$
               /$$$$$$$  /$$$$$$ | $$  \__//$$$$$$  /$$$$$$   /$$   /$$
              /$$_____/ |____  $$| $$$$   /$$__  $$|_  $$_/  | $$  | $$
             |  $$$$$$   /$$$$$$$| $$_/  | $$$$$$$$  | $$    | $$  | $$
              \____  $$ /$$__  $$| $$    | $$_____/  | $$ /$$| $$  | $$
              /$$$$$$$/|  $$$$$$$| $$    |  $$$$$$$  |  $$$$/|  $$$$$$$
             |_______/  \_______/|__/     \_______/   \___/   \____  $$
                                                              /$$  | $$
                                                             |  $$$$$$/
      by safetycli.com                                        \______/

+==============================================================================+

 REPORT 

  Safety v3.3.1 is scanning for Vulnerabilities...
  Scanning dependencies in your files:

  -> requirements-security.txt

  Using open-source vulnerability database
  Found and scanned 45 packages
  Timestamp 2025-03-27 07:30:19
  30 vulnerabilities reported
  0 vulnerabilities ignored

+==============================================================================+
 VULNERABILITIES FOUND
+==============================================================================+

-> Vulnerability found in jinja2 version 3.1.2
   Vulnerability ID: 71591
   Affected spec: <3.1.4
   ADVISORY: Jinja is an extensible templating engine. The `xmlattr`
   filter in affected versions of Jinja accepts keys containing non-...
   CVE-2024-34064
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/71591/97c
   To ignore this vulnerability, use PyUp vulnerability id 71591 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in jinja2 version 3.1.2
   Vulnerability ID: 64227
   Affected spec: <3.1.3
   ADVISORY: Jinja is an extensible templating engine. Special
   placeholders in the template allow writing code similar to Python...
   CVE-2024-22195
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/64227/97c
   To ignore this vulnerability, use PyUp vulnerability id 64227 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in jinja2 version 3.1.2
   Vulnerability ID: 74735
   Affected spec: <3.1.5
   ADVISORY: A vulnerability in the Jinja compiler allows an attacker
   who can control both the content and filename of a template to execute...
   CVE-2024-56201
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/74735/97c
   To ignore this vulnerability, use PyUp vulnerability id 74735 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 74380
   Affected spec: <3.10.2
   ADVISORY: Affected versions of aiohttp are vulnerable to Directory
   Traversal (CWE-22). This allows attackers to access sensitive files...
   CVE-2024-42367
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/74380/97c
   To ignore this vulnerability, use PyUp vulnerability id 74380 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 71545
   Affected spec: <3.9.4
   ADVISORY: Affected versions of `aiohttp` are vulnerable to an
   infinite loop condition. This occurs when an attacker sends a specially...
   CVE-2024-30251
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/71545/97c
   To ignore this vulnerability, use PyUp vulnerability id 71545 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 70630
   Affected spec: <3.9.4
   ADVISORY: aiohttp is an asynchronous HTTP client/server framework
   for asyncio and Python. A XSS vulnerability exists on index pages for...
   CVE-2024-27306
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/70630/97c
   To ignore this vulnerability, use PyUp vulnerability id 70630 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 61657
   Affected spec: <3.8.6
   ADVISORY: Aiohttp 3.8.6 updates vendored copy of  'llhttp' to
   v9.1.3 to include a security fix.https://github.com/aio-...
   PVE-2023-61657
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/61657/97c
   To ignore this vulnerability, use PyUp vulnerability id 61657 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 62326
   Affected spec: <3.8.6
   ADVISORY: Aiohttp 3.8.6 includes a fix for CVE-2023-47627: The
   HTTP parser in AIOHTTP has numerous problems with header parsing, which...
   CVE-2023-47627
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/62326/97c
   To ignore this vulnerability, use PyUp vulnerability id 62326 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 74252
   Affected spec: <3.10.11
   ADVISORY: Affected versions of aiohttp are vulnerable to
   Middleware Cache Pollution. This vulnerability allows attackers to...
   CVE-2024-52303
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/74252/97c
   To ignore this vulnerability, use PyUp vulnerability id 74252 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 74251
   Affected spec: <3.10.11
   ADVISORY: Affected versions of aiohttp are vulnerable to HTTP
   Request Smuggling (CWE-444). This vulnerability allows attackers to...
   CVE-2024-52304
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/74251/97c
   To ignore this vulnerability, use PyUp vulnerability id 74251 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 64642
   Affected spec: >1.0.5,<3.9.2
   ADVISORY: The vulnerability lies in the improper configuration of
   static resource resolution when aiohttp is used as a web server. It...
   CVE-2024-23334
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/64642/97c
   To ignore this vulnerability, use PyUp vulnerability id 64642 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 62583
   Affected spec: <3.9.0
   ADVISORY: Affected versions of aiohttp are vulnerable to an
   Improper Validation vulnerability. It is possible for an attacker to...
   CVE-2023-49082
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/62583/97c
   To ignore this vulnerability, use PyUp vulnerability id 62583 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 62582
   Affected spec: <3.9.0
   ADVISORY: Aiohttp 3.9.0 includes a fix for CVE-2023-49081:
   Improper validation made it possible for an attacker to modify the HTTP...
   CVE-2023-49081
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/62582/97c
   To ignore this vulnerability, use PyUp vulnerability id 62582 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in aiohttp version 3.8.5
   Vulnerability ID: 64644
   Affected spec: <3.9.1
   ADVISORY: The aiohttp versions minor than 3.9. has a vulnerability
   that affects the Python HTTP parser used in the aiohttp library. It...
   CVE-2024-23829
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/64644/97c
   To ignore this vulnerability, use PyUp vulnerability id 64644 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in python-jose version 3.3.0
   Vulnerability ID: 70716
   Affected spec: >=0
   ADVISORY: Affected versions of Python-jose allow attackers to
   cause a denial of service (resource consumption) during a decode via a...
   CVE-2024-33664
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/70716/97c
   To ignore this vulnerability, use PyUp vulnerability id 70716 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in python-jose version 3.3.0
   Vulnerability ID: 70715
   Affected spec: >=0
   ADVISORY: Affected versions of Python-jose have a algorithm
   confusion vulnerability with OpenSSH ECDSA keys and other key formats....
   CVE-2024-33663
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/70715/97c
   To ignore this vulnerability, use PyUp vulnerability id 70715 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in pyjwt version 2.8.0
   Vulnerability ID: 74429
   Affected spec: <2.10.1
   ADVISORY: Affected versions of pyjwt are vulnerable to Partial
   Comparison (CWE-187). This flaw allows attackers to bypass issuer (iss)...
   CVE-2024-53861
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/74429/97c
   To ignore this vulnerability, use PyUp vulnerability id 74429 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 66704
   Affected spec: >=38.0.0,<42.0.4
   ADVISORY: cryptography is a package designed to expose
   cryptographic primitives and recipes to Python developers. Starting in...
   CVE-2024-26130
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/66704/97c
   To ignore this vulnerability, use PyUp vulnerability id 66704 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 71680
   Affected spec: <42.0.2
   ADVISORY: The cryptography library has updated its OpenSSL
   dependency in CI due to security concerns. This vulnerability arises...
   CVE-2024-0727
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/71680/97c
   To ignore this vulnerability, use PyUp vulnerability id 71680 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 73711
   Affected spec: >=37.0.0,<43.0.1
   ADVISORY: Affected versions of Cryptography have a vulnerable
   statically linked copy of OpenSSL included in cryptography wheels.
   PVE-2024-73711
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/73711/97c
   To ignore this vulnerability, use PyUp vulnerability id 73711 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 65647
   Affected spec: <42.0.5
   ADVISORY: Cryptography version 42.0.5 introduces a limit on the
   number of name constraint checks during X.509 path validation to...
   PVE-2024-65647
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/65647/97c
   To ignore this vulnerability, use PyUp vulnerability id 65647 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 71684
   Affected spec: >=35.0.0,<42.0.6
   ADVISORY: The `cryptography` library updates its BoringSSL and
   OpenSSL dependencies in CI due to a security concern. Specifically,...
   CVE-2024-2511
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/71684/97c
   To ignore this vulnerability, use PyUp vulnerability id 71684 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 62556
   Affected spec: >=3.1,<41.0.6
   ADVISORY: Affected versions of Cryptography are vulnerable to
   NULL-dereference when loading PKCS7 certificates. Calling...
   CVE-2023-49083
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/62556/97c
   To ignore this vulnerability, use PyUp vulnerability id 62556 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 71681
   Affected spec: <42.0.8
   ADVISORY: The `cryptography` library has updated its BoringSSL and
   OpenSSL dependencies in CI due to a security concern. Specifically, the...
   CVE-2024-4603
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/71681/97c
   To ignore this vulnerability, use PyUp vulnerability id 71681 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 65212
   Affected spec: >=35.0.0,<42.0.2
   ADVISORY: Versions of Cryptograph starting from 35.0.0 are
   susceptible to a security flaw in the POLY1305 MAC algorithm on PowerPC...
   CVE-2023-6129
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/65212/97c
   To ignore this vulnerability, use PyUp vulnerability id 65212 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 66777
   Affected spec: >=35.0.0,<42.0.0
   ADVISORY: Cryptography 42.0.0 updates its bundled dependency
   'OpenSSL' so to include the commit fix for CVE-2023-6237: Checking...
   CVE-2023-6237
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/66777/97c
   To ignore this vulnerability, use PyUp vulnerability id 66777 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 65278
   Affected spec: <42.0.0
   ADVISORY: Affected versions of Cryptography may allow a remote
   attacker to decrypt captured messages in TLS servers that use RSA key...
   CVE-2023-50782
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/65278/97c
   To ignore this vulnerability, use PyUp vulnerability id 65278 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 65510
   Affected spec: <42.0.0
   ADVISORY: Cryptography starting from version 42.0.0 updates its CI
   configurations to use newer versions of BoringSSL or OpenSSL as a...
   CVE-2023-5678
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/65510/97c
   To ignore this vulnerability, use PyUp vulnerability id 65510 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in cryptography version 41.0.4
   Vulnerability ID: 62452
   Affected spec: <41.0.5
   ADVISORY: Cryptography 41.0.5 updates Windows, macOS, and Linux
   wheels to be compiled with OpenSSL 3.1.4, that includes a security fix.
   CVE-2023-5363
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/62452/97c
   To ignore this vulnerability, use PyUp vulnerability id 62452 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


-> Vulnerability found in bandit version 1.7.5
   Vulnerability ID: 64484
   Affected spec: <1.7.7
   ADVISORY: Bandit 1.7.7 identifies the str.replace method as a
   potential risk for SQL injection because it can be misused in...
   PVE-2024-64484
   For more information about this vulnerability, visit
   https://data.safetycli.com/v/64484/97c
   To ignore this vulnerability, use PyUp vulnerability id 64484 in safety’s
   ignore command-line argument or add the ignore to your safety policy file.


+==============================================================================+
   REMEDIATIONS

  30 vulnerabilities were reported in 6 packages. For detailed remediation & 
  fix recommendations, upgrade to a commercial license. 

+==============================================================================+

 Scan was completed. 30 vulnerabilities were reported. 

+==============================================================================+


+===========================================================================================================================================================================================+


DEPRECATED: this command (`check`) has been DEPRECATED, and will be unsupported beyond 01 June 2024.


We highly encourage switching to the new `scan` command which is easier to use, more powerful, and can be set up to mimic the deprecated command if required.


+===========================================================================================================================================================================================+


