Dependency check for requirements-dev.txt:



Errors:
ERROR:pip_audit._virtual_env:internal pip failure: ERROR: Cannot install -r /home/jj/dev/Novamind-Backend/requirements.txt (line 39), -r requirements-dev.txt (line 12) and -r requirements-dev.txt (line 17) because these package versions have conflicting dependencies.
ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts

ERROR:pip_audit._cli:Failed to install packages: ['/tmp/tmphqbb0yk3/bin/python3', '-m', 'pip', 'install', '--no-input', '--keyring-provider=subprocess', '--dry-run', '--report', '/tmp/tmpx8r3075i/tmpr6cl8g3u', '-r', 'requirements-dev.txt']

